
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2025;
    font-family: poppins, sans-serif;

}
.book{
    width:92%;
    height: 90%;
    display: flex;

}
.book .right{
    width:80%;
    position: relative;
    height: 100%;
    /* border: 1px solid #fff; */


}
.book .left{
 width:20%;
}

.book .left img{
    width: 100%;
    
}
.book .left .play{
    position: relative;
    left:34%;
    top: -3.5%;
    width:30px;
    height:30px;
    background-color: #2d9d42;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px #2d9d42;
    transition: .3s linear;
    cursor:pointer;
}
.book .left .play:hover{
  transform: rotate(360deg);
}
.book .left .content {
    color: #fff;
    padding:0 20px;

    
}
.book .left .content h6{
    font-size: 16px;
    

}
.book .left .content p{
    font-size: 14px;
     margin-bottom: 10px;
}

.book .right {
    padding:10px 40px;
    background:unset;
}
.book .right::before{
    position: absolute;
    content: '';
    width:95%;
    height: 250px;
    /* border: 1px solid #fff; */
    background:url(images/img/bg.png)no-repeat center 0px/cover;
    z-index: -10;
   border-radius: 20px;
}
.book .right::after{
    position: absolute;
    content: '';
    width:95%;
    height: 200px;
    top:-11px;
    background:linear-gradient(0deg,transparent, #1f2025);
}

.book .right .head_time{
   position:relative;
    display: flex;
    justify-content: space-between;
    width:100%;
    align-items: center;


}
.book .right .head_time::before{
    content:"";
    position: absolute;
    width:150px;
    height:250px;
    top:0;
    background: linear-gradient(90deg,transparent,#1f2025);
    z-index: -9;
    right:-27px;
}
.book .right .head_time::after{
    content:"";
    position: absolute;
    width:150px;
    height:250px;
    top:0;
    background: linear-gradient(270deg,transparent,#1f2025);
    z-index: -9;
    left:-27px;
}

.book .right .head_time h1{
    color:white;
    font-weight: 600;
    z-index: 1;
}
.book .right .head_time .time{
    color:white;
    display:flex;
    align-items: center;
     z-index: 1;
}
.book .right .head_time .time h6{
 font-size:13px;
 margin-right:15px;

}
.book .right .head_time .time button{
    padding:4px 10px;
    border-radius:10px;
    border:2px solid #2d9d42;
    font-size:11px;
    font-weight: 600;
    cursor:pointer;
    color: white;
    transition:.3s linear;
    background: none;

}
.book .right .head_time .time button:hover{
   
    background: #2d9d42;

}
.book .right .head_time h6 i{
    margin-right: 4px;
}

.book .right .date_type{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
.book .right .date_type .left_card , .right_card{
    width:45%;
    /* border: 1px solid white; */
}
.book .right .date_type::before{
    content:" ";
    position: absolute;
    width:102%;
    height:210px;
    left :-15px;
    top:0;
    background: linear-gradient(180deg,transparent,#1f2025);
    z-index: -9;

}
.book .right  .title{
    color:white;
    word-spacing: 1px;
    
}

.book .right .crd{
    width:100%;
    overflow-x: auto;
    display: flex;
    align-items: center;
    margin-top: 5px;
    border-top: 1px solid rgb( 184,184,184 ,.2) ;
    padding:5px 0px;
}
.book .right  .crd::-webkit-scrollbar{
    height:3px;
    background: rgb(184,184,184,.2);
}
.book .right .crd::-webkit-scrollbar-thumb{
    height:3px;
    background:rgb(184,184,184,.5);

}
.book .right .crd li{
    list-style: none;
    color:#fff;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.book .right .crd li h6{
    background: transparent;
    border-radius: 50%;
    width:20px;
    height:20px;
    transition: .3s linear;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;


}
.book .right .crd li h6:nth-child(2){
    background: transparent;
    border-radius: 50%;
    width:20px;
    height:20px;
    transition: .3s linear;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;

}
.book .right .crd li h6:nth-child(2):hover{
    
    background-color: #2d9d42;
}